{% comment %}NOTE: product variable is passed as variant to the render tag in collection-template.liquid. We have to use {{ product.product }} to get variant's parent product instead of {{ variant.product }} that's in the shopify docs.
{{ product.product.options_with_values }} {{ color }} {{product.product.variants}}
{% endcomment %}

{% comment %}Is this variant on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}Is variant sold out?{% endcomment %}
{% assign var_sold_out = false %}
{% assign var_product_qty = 0 %}

{% for variant in product.product.variants %}
  {% assign variant_color = variant.option2 | handle %}
  {% assign current_color = color | handle %}
  {% if variant_color == current_color and variant.inventory_quantity > 0 %}
    {% assign var_product_qty = var_product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}

{% if var_product_qty <= 0 %}
  {% assign var_sold_out = true %}
{% endif %}

{% comment %}Calculate width based on theme settings{% endcomment %}
{% assign num_per_row = products_per_row_int | plus: 0 %}

{% if num_per_row == 2 %}{% capture col_class %}half{% endcapture %}
{% elsif num_per_row == 3 %}{% capture col_class %}third{% endcapture %}
{% elsif num_per_row == 5 %}{% capture col_class %}fifth{% endcapture %}
{% else %}{% capture col_class %}quarter{% endcapture %}{% endif %}

<div class="prod-block column {{ col_class }}{% unless var_sold_out == true %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}"
  {% if animate %}
    {% assign animate = animate | times: 0.15 %}
    data-cc-animate="cc-fade-in-up" data-cc-animate-delay="{{ animate }}s"
  {% endif %}>
  <div class="prod-image-wrap {% if settings.product_hover_image and product.media.size > 1 %}prod-image-wrap--with-hover{% endif %}">
    <a href="{{ product.url | within: collection }}">
      {% render 'responsive-image', image: product.featured_media.preview_image %}

      {% if settings.product_hover_image and product.media.size > 1 %}
        <div class="hover-image">
          {%- render 'responsive-background', image: product.media[1].preview_image -%}
        </div>
      {% endif %}

      {% render 'product-variant-label', product: product, var_sold_out: var_sold_out %}
    </a>
  </div>

  <div class="prod-caption">
    <a href="{{ product.url | within: collection }}">
      <div class="title">
        {% if grid_show_vendor %}
          <div class="prod-caption__vendor">{{ product.vendor }}</div>
        {% endif %}
        {{ product.product.title }}{% if product.option2 %} - {{ product.option2 }}{% endif %}
        {% comment %}
          NOTE: product variable is assigned as variant in 
          collection-template.liquid (in render tag) so we call
          {{ product.product.title }} instead of {{ variant.product.title }} 
          for the variant's parent product
        {% endcomment %}
      </div>
      <div class="product-price">
        {% if product.price_varies %}<span class="product-price__from">{{ 'products.listing.from' | t }}</span>{% endif %}

        <span class="product-price__amount theme-money">{{ product.price | money }}</span>

        {% if on_sale %}
        <span class="product-price__compare theme-money">{{ product.compare_at_price | money }}</span>
        {% endif %}

        {%- assign variant = product.variants | sort: 'price' | first -%}
        {% render 'unit-price', variant: variant %}
      </div>

      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </a>
  </div>

</div>
