{%- if aspect_ratio -%}
{%- assign cover = true -%}
{%- else -%}
{%- assign aspect_ratio = image.aspect_ratio -%}
{%- assign cover = false -%}
{%- endif -%}
<div class="rimage-outer-wrapper"
     {% unless cover or no_max_width %}style="max-width: {{ image.width }}px"{% endunless %}
  {% if animate %}data-cc-animate="cc-zoom-out"{% endif %}>

  <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%">
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="rimage__image lazyload{% if manual_image_load %}--manual{% endif %} fade-in{% if cover %} cover{% endif %}{% if contain %} contain{% endif %}"
      data-src="{{ img_url }}"
      data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ image.alt | escape }}"
      {% if cover %}data-parent-fit="cover"{% endif %}>

    <noscript>
      {%- assign img_url = image | img_url: '1024x1024' -%}
      <img src="{{ img_url }}" alt="{{ image.alt | escape }}" class="rimage__image">
    </noscript>
  </div>
</div>
{%- assign aspect_ratio = false -%}
